html{
	height: 100%;
}
.body{
	height: 100%;
}
*{
	margin: 0;
	padding: 0;
}
.container{
	min-height: 100%;
}
.content{
	padding-bottom: 30px;
}
.footer{
	margin-top: -30px;
	height: 30px;
	background-color: #4cbdfe;
}
/*
创建一个足够大的容器container 包含整个网页

并将footer 挤到底端，通过设置 margin-top = -30px 使footer 上浮

并在content 中设置padding-bottom 使之能容下页脚而不重叠
*/
